* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utils  */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a,
button {
    all: unset;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    width: 100%;
    ;
}

/* HEader  */

header {
    background-color: #334c57;
    color: white;
    padding: 20px 0;
    text-transform: uppercase;
}

header h1 {
    font-size: 40px;
}

nav {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

main {
    margin: 30px 20px;
    text-align: center;
}




/* HOME PAGE  */
.home h1,
.home h3 {
    margin-bottom: 15px;
}

main .home button {
    padding: 30px;
    background-color: aqua;
    border-radius: 20px;
}

.movies-form {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 20px;
}

.movies-form button {
    padding: 10px;
    background-color: #334c57;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
}

.movies-form input {
    padding: 10px;
    text-transform: uppercase;
    border-radius: 15px;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    justify-content: center;
}

.movie-card {
    width: calc((100% - 100px) / 3);
    border-radius: 30px;
}

.movie-card img {
    aspect-ratio: 1;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}


.movie-card .movie-info {
    padding: 20px;
    background-color: #68d683;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.movie-card h3 {
    text-transform: uppercase;
    font-size: 25px;
}

.movie-card h4 {
    margin-bottom: 15px;
}

.movie-card button {
    padding: 15px;
    background-color: #334c57;
    color: white;
    border-radius: 20px;
    margin: 10px;
    text-transform: uppercase;
}

.movie-card button:hover {
    transform: scale(1.1);
}

.movie-card a {
    text-decoration: none;
}

/* Movie detail Page  */
.movie-page {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.movie-detail {
    width: 40%;
    flex-shrink: 0;
}

.movie-detail .image-container img {
    width: 100%;
    object-fit: cover;
}

.movie-detail .info-movie {
    background-color: #68d683;
    padding: 20px;
}

.movie-reviews {
    width: 60%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: space-between;
    gap: 20px;
    background-color: #f8f8ff;
}

.movie-reviews .review {
    width: 100%;
    background-color: #a5f5d6;
    padding: 20px;
    margin: 15px 20px;
    border-radius: 15px;
}

.movie-reviews .reviews-form {
    align-content: flex-end;
    display: flex;
    padding: 30px;
    background-color: #334c57;
    justify-content: space-between;
}

.movie-reviews input {
    width: 100%;
    border: 0px;
    padding: 30px;
}

.movie-reviews button {
    background-color: aqua;
    margin-left: 10px;
    border-radius: 15px;
    padding: 20px;
}

.movie-reviews button:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
}

/* Footer  */
footer {
    background-color: #334c57;
    padding: 50px;
    color: white;
    text-align: center;
    font-size: 30px;

}